<section class="main-banner">
<div class="banner__content" >
    </div>


</section>
<div class="banner-footer">
    {{ section.settings.banner-footer-text }}

</div>
    <style>
        .main-banner{
        background-image:url('{{ section.settings.ip | img_url: "1920x1080" }}');
        background-size: cover;
        background-position: center;
        text-align: left;
        padding: 80px;
        color: black;
        }
        .banner__content {
            max-width: 600px;
          }
        
          .banner-footer
          {
        background-color:lightgrey;
        color:black;
        }
        </style>

        {% schema %}
        {
        "name": "banner1",
        "tag": "section",
        "limit": 2,
        "class": "banner1",
        "settings": [

            {
            "type": "image_picker",
        "id": "ip",
             "label": "image-pick"
           
    },
            {
            "type": "text",
            "id": "banner-footer-text",
            "label": "title",
            "default":"test text"
            },
            
        ],
        "presets": [
            {
            "name": "banner1",
        }
        ]
        
        }


        {% endschema %}