<div class="main-banner">{{ section.settings.ip }}
<div>{{section.settings.title}}</div>

    </div>

    <style>
        .main-banner{
        background-image:url('{{ section.settings. }}');
        height:auto;
        width:auto;
        }
        </style>

        {% schema %}
        {
        "name": "banner1",
        "tag": "div",
        "limit": 2,
        "class": "banner1",
        "settings": [

            {
            "type": "image_picker",
        "id": "ip",
             "label": "image-pick",
           
    },
            {
            "type": "text",
            "id": "title",
            "label": "title",
            "default":"test text"
            },
            
        ],
        "presets": [
            {
            "name": "banner1",
        }
        ]
        
        }


        {% endschema %}