<div class="banner-top">
<div class="logo">
    {% for block in section.blocks %}
        <div class="block">
          {{ block.settings.img | image_url: width: 2048 | image_tag }}
        </div>
      {% endfor %}
      

</div>
<div class="text-top">{{ section.settings.banner-top }}</div>
<div class="btn-choose"></div>
    </div>

<section class="main-banner">
<div class="banner__content" >
    </div>


</section>
<div class="banner-footer">
    {{ section.settings.banner-footer-text }}

</div>
    <style>
        .main-banner{
        background-image:url('{{ section.settings.ip | img_url: "1920x1080" }}');
        background-size: cover;
        background-position: center;
        text-align: left;
        padding: 80px;
        color: black;
        min-height:
        }
        .banner__content {
            max-width: 600px;
          }
        
          .banner-footer
          {
        background-color:lightgrey;
        color:black;
        text-align:center;
        }
        .logo {
        width:33.33%;
    }   
    .text-top{
        width:33.33%;

    }  
     .btn-choose
     {        width:33.33%;

    }
        .banner-top{

        display:flex;
        width:100%;
        height: 40px;
  background-color: lightgray;
        }
        </style>

        {% schema %}
        {
        "name": "banner1",
        "tag": "section",
        "limit": 2,
        "class": "banner1",
        "settings": [

            {
            "type": "image_picker",
        "id": "ip",
             "label": "image-pick"
           
    },
    {
        "type": "image_picker",
        "id": "logo",
        "label": "Add your logo here"
    },
    {
    "type": "text",
    "id": "banner-top",
    "label": "announcement text"
    },
            {
            "type": "text",
            "id": "banner-footer-text",
            "label": "title",
            "default":"test text"
            },
            
        
        ],
        "blocks": [

            {   "name":"logo",
                "type": "logo",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "img",
                        "label": "Upload logo"
                    }
                ]

               
        },
    ],
        "presets": [
            {
            "name": "banner1",
        }
        ]
        
        }


        {% endschema %}